[user]
  name = Cybera Sysadmin
  email = sysadmin@cybera.ca

[core]
  filemode = false

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[branch "master"]
  mergeoptions = --no-ff

[branch "sandbox"]
  mergeoptions = --no-ff

[merge]
  log = true
  tool = fugitive

[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"

[alias]
  st = status
  ci = commit
  co = checkout
  df = diff
  lg = log -p

# Uncomment once we upgrade git past 1.7.9.11 (currently 1.7.9.5 installed with LTS - no reason to upgrade ahead of LTS schedule)
#[push]
#  default = simple

