[user]
  name = Cybera Sysadmin
  email = sysadmin@cybera.ca

[alias]
  st = status
  ci = commit
  co = checkout
  df = diff
  lg = log -p

[core]
  filemode = false

[init]
  defaultbranch = main

[color]
  ui = auto
  diff = auto
  status = auto
  branch = auto
  interactive = auto

[commit]
  verbose = true

[diff]
  colormoved = true
  renames = true
  mnemonicprefix = true
  algorithm = histogram

[branch]
  autosetuprebase = always
  mergeoptions = --no-ff
  sort = committerdate

[tag]
  sort = version:refname

[pull]
  rebase = true

[push]
  default = simple

[merge]
  log = true
  tool = fugitive

[mergetool "fugitive"]
  cmd = vim -f -c \"Gdiff\" \"$MERGED\"

